.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
  border: 0;
  /* Если добавить еще один iframe, он прилипнет к верхнему. Добавил отступ снизу для решения этой проблемы. Внизу ссылка на скрин*/
  /* https://imgur.com/a/9KTimVO */
  /* margin-bottom: 15px; */
}

.video__iframe:nth-child(2n) {
  margin-right: 0;
}
